.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .error-content {
    text-align: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    max-width: 500px;
  }
  
  .error-content h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #343a40;
    font-weight: 700;
  }
  
  .error-content p {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }
  
  .home-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .home-button:hover {
    background-color: gray;
  }